<div>
  <h2>Friend details</h2>
  <p>First name: {{model.firstName}}</p>
  <p>Last name: {{model.lastName}}</p>
  </p>
</div>


<form {{action "save" on="submit"}}>
  <p>
    <label>First name: {{input value=model.firstName}}</label>
    <label>Last name: {{input value=model.lastName}}</label>
  </p>
  <p>
    <label>Email: {{input value=model.email}}</label>
  </p>
  <p>
    <label>Twitter: {{input value=model.twitter}}</label>
  </p>
  <input type="submit" value="Save">
  <button {{action "cancel"}}>Cancel</button>
</form>
